{% extends 'template.html' %}

{% block content %}




<form id="post_form" method="post" action="" enctype="multipart/form-data">

    {% csrf_token %}
      

    {{ q_form.media }}
    {{ q_form.as_p }}




    <select required class="js-example-tags form-control" multiple="multiple" id="tags" name="tags">
        {% for tag in tags %}
            <option value="{{ tag.id }}">{{ tag.tag }}</option>
        {% endfor %}
        
    </select>

    <input type="submit" name="submit" value="Submit" />
</form>



<pre>
    <div id="preview" style="min-height: 60px;"></div>
</pre>








{% block scripts %}
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'script/select2.min.js' %}"></script>
    <script src="{% static 'script/custom.js' %}"></script>
{% endblock scripts %}
    


{% endblock content %}
    

