{% extends 'template.html' %}

{% block styles %}
  {% load static %}
  <link href="{% static 'style/question.css' %}" rel="stylesheet" >
{% endblock styles %}


{% block content %}


  <div class="card" style="margin-top: 10px;">
    <div class="card-body">
      <h5 class="card-title">{{ question.title }}</h5>
        <p>{{ question.content|safe }}</p>
      <div class="row">
        <a href="#" class="col-md-6 text-left">{{ question.author.username }}</a>
        <div class="col-md-6 text-right">
            <a href="#" class="btn btn-primary">Button</a>  
        </div>
      </div>

    </div>
  </div> 



  {% if user.is_authenticated %}
    <h3>Edit answer to this question</h3>

    <form method="post" action="" enctype="multipart/form-data">
    
      {% csrf_token %}
      {{ answer_form.media }}
      {{ answer_form.as_p }}

      <input type="submit" name="edit" value="Edit" />

    </form>



  {% endif %}
        


{% endblock content %}
    


