{% extends 'template.html' %}

{% block content %}



<div id="has_editor">
    <form id="post_form" method="post" action="" enctype="multipart/form-data">

        {% csrf_token %}
          
        {{ q_form.media }}
        {{ q_form.as_p }}
    
    
        <select required class="js-example-tags form-control" multiple="multiple" id="tags" name="tags">
    
    
            {% for tag in tags %}
                {% if tag.id in selected_tags %}
                    <option value="{{ tag.id }}" selected="selected" >{{ tag.tag }}</option>
                {% else %}
                    <option value="{{ tag.id }}">{{ tag.tag }}</option>
                {% endif %}
            {% endfor %}
            
        </select>
    
        <input type="submit" name="Edit" value="Edit" />
    </form>
    
</div>

<pre>
    <div id="preview" style="min-height: 60px;"></div>
</pre>



{% endblock content %}
    

