{% extends 'template.html' %}


{% block content %}


<div class="card" style="margin-top: 10px;">
    <div class="card-body">
      <h5 class="card-title">{{ question.title }}</h5>
      <p>{{ question.content|safe }}</p>
      <div class="row">
        <a href="#" class="col-md-6 text-left">{{ question.author.username }}</a>
        <div class="col-md-6 text-right">

      <div>
        <div class="votecell post-layout--left">
          {% csrf_token %}
          <button id="question-vote-up" class="grid--cell s-btn s-btn__unset c-pointer" 
            data-href="{{ question.getVoteUrl }}"
            data-question="{{ question.id }}"
            data-controller="s-tooltip" data-s-tooltip-placement="right" title="سوال مفید و واضح است" aria-pressed="false" aria-label="Up vote" data-selected-classes="fc-theme-primary"><svg aria-hidden="true" class="m0 svg-icon iconArrowUpLg" width="20" height="20" viewBox="0 0 36 36"><path d="M2 26h32L18 10 2 26z"/></svg></button>
        <div id="question-counter" class="grid--cell fc-black-500 fs-title grid fd-column ai-center" itemprop="upvoteCount">{{ question.getVoteState }}</div>
          {% csrf_token %}
          <button id="question-vote-down" class="grid--cell s-btn s-btn__unset c-pointer" 
            data-href="{{ question.getVoteUrl }}"
            data-question="{{ question.id }}" 
            data-controller="s-tooltip" data-s-tooltip-placement="right" title="سوال مفید یا واضح نیست" aria-pressed="false" aria-label="Down vote" data-selected-classes="fc-theme-primary"><svg aria-hidden="true" class="m0 svg-icon iconArrowDownLg" width="20" height="20" viewBox="0 0 36 36"><path d="M2 10h32L18 26 2 10z"/></svg></button>
      </div>

        {% if request.user == question.author %}
          <a href="{% url 'QA:question_edit' id=question.id  %}" class="btn btn-primary">Edit</a>  
          <a href="{% url 'QA:question_delete' id=question.id %}" class="btn btn-danger">Delete</a>  
        {% endif %}  
          
        </div>
      </div>

    </div>
  </div> 
</div>



    {% for answer in answers %}

    <div class="card w-75" style="margin-top: 10px;">


      <div class="row">

        <div class="card-body">
            <p>{{ answer.content|safe }}</p>

              <div class="votecell post-layout--left">
                {% csrf_token %}
                <button id="answer-vote-up" class="grid--cell s-btn s-btn__unset c-pointer" 
                  data-href="{{ answer.getVoteUrl }}"
                  data-answer="{{ answer.id }}"
                  data-controller="s-tooltip" data-s-tooltip-placement="right" title="سوال مفید و واضح است" aria-pressed="false" aria-label="Up vote" data-selected-classes="fc-theme-primary"><svg aria-hidden="true" class="m0 svg-icon iconArrowUpLg" width="20" height="20" viewBox="0 0 36 36"><path d="M2 26h32L18 10 2 26z"/></svg></button>
              <div id="answer-counter" class="grid--cell fc-black-500 fs-title grid fd-column ai-center" itemprop="upvoteCount">{{ answer.getVoteState }}</div>
                {% csrf_token %}
                <button id="answer-vote-down" class="grid--cell s-btn s-btn__unset c-pointer" 
                  data-href="{{ answer.getVoteUrl }}"
                  data-answer="{{ answer.id }}" 
                  data-controller="s-tooltip" data-s-tooltip-placement="right" title="سوال مفید یا واضح نیست" aria-pressed="false" aria-label="Down vote" data-selected-classes="fc-theme-primary"><svg aria-hidden="true" class="m0 svg-icon iconArrowDownLg" width="20" height="20" viewBox="0 0 36 36"><path d="M2 10h32L18 26 2 10z"/></svg></button>
            </div>
      
          <div class="row">
            <a href="#" class="col-md-6 text-left">{{ answer.author.username }}</a>
            {% if request.user == answer.author %}
              <div class="col-md-6 text-right">
                <a href="{% url 'QA:answer_edit' q_id=question.id a_id=answer.id %}" class="btn btn-primary">Edit</a>  
                <a href="{% url 'QA:answer_delete' q_id=question.id a_id=answer.id %}" class="btn btn-danger">Delete</a>  
              </div>
            {% endif %}
          </div>

          <div class="row">
            {% if request.user == question.author %}
                <input type="checkbox" id="approved" name="approved" value="Bike">
                <label for="approved"> Approve </label><br>
            {% endif %}

          </div>    

        </div> 
      </div> 


    {% empty %}

        <p>There is no answer for this question</p>

    {% endfor %}


    {% if user.is_authenticated and not user_answered %}
        <h3>Write answer to this question</h3>

        <form method="post" action="" enctype="multipart/form-data">
        
            {% csrf_token %}
            {{ answer_form.media }}
            {{ answer_form.as_p }}

            <input type="submit" name="submit" value="Submit" />

        </form>


    {% endif %}
    
{% block scripts %}
  {% load static %}    
  <script src="{% static 'script/vote.js' %}"></script>
{% endblock scripts %}
  






{% endblock content %}
    


