{% extends 'template.html' %}


{% block styles %}
  {% load static %}
  <link href="{% static 'style/question.css' %}?version=70" rel="stylesheet" >
{% endblock styles %}
  

{% block content %}


<div class="question">
            
  <div class="info">
    <div class="avatar">
      <a href="{% url 'user:user' id=question.author.id %}" class="anchor">
        <img width="30px" height="30px" src="{{ question.author.avatarmodel.avatar.url }}" alt="test">
        <p>{{ question.author.username }}</p>
      </a>    
    </div>    
    <div class="vote">
      <button id="question-vote-up" 
        class="vote-btn" 
        type="button"
        data-href="{{ question.getVoteUrl }}"
        data-is_authenticated="{{ request.user.is_authenticated }}"
        data-question="{{ question.id }}"
        data-controller="s-tooltip" title="سوال مفید و واضح است" aria-pressed="True" aria-label="Up vote" data-selected-classes="fc-theme-primary"><svg aria-hidden="true" class="m0 svg-icon iconArrowUpLg" width="20" height="20" viewBox="0 0 36 36"><path d="M2 26h32L18 10 2 26z"/></svg></button>
    <div id="question-counter" class="counter" itemprop="upvoteCount">{{ question.getVoteNO }}</div>
      <button id="question-vote-down" 
        class="vote-btn" 
        type="button"
        data-href="{{ question.getVoteUrl }}"
        data-is_authenticated="{{ request.user.is_authenticated }}"
        data-question="{{ question.id }}" 
        data-controller="s-tooltip" title="سوال مفید یا واضح نیست" aria-pressed="false" aria-label="Down vote" data-selected-classes="fc-theme-primary"><svg aria-hidden="true" class="m0 svg-icon iconArrowDownLg" width="20" height="20" viewBox="0 0 36 36"><path d="M2 10h32L18 26 2 10z"/></svg></button>
    </div>


  </div>


  <div class="details">
    <h4>{{ question.title }}</h4>

	<p>
		{{ question.content|safe }}
	</p>


	<!-- <img alt="" src="/media/QAImage/sad/2020/09/13/fafea86f551aab3fd93f586d98ba7997.jpg" style="height:405px; width:720px" /> -->

    <div class="rect">
      <div class="tags">
		{% for tag in question.getTags %}
		<div class="style">
			<a href="{{ tag.id }}">{{ tag.tag }}</a>
		</div>
	  {% endfor %}
      </div>
        <div class="contain">
          <p><a class="anchor" href="#">sad</a> {{ question.getDate }}&nbsp;&nbsp; {% if question.edited %}ویرایش شده {% endif %} </p>
    	{% if request.user == question.author %}  
			<div class="edel">
				<a href="{% url 'QA:question_edit' id=question.id %}">ویرایش</a>
				<a style="color: red;" href="{% url 'QA:question_delete' id=question.id %}">حذف</a>
			</div>  
        {% endif %}
        </div>
      </div>

    </div>



</div>






<h3>جواب ها</h3>
<hr >

{% for answer in answers %}


  <div class="question">
            
    <div class="info">
      <div class="avatar">
        <a href="{% url 'user:user' id=answer.author.id %}" class="anchor">
          <img width="30px" height="30px" src="{{ answer.author.avatarmodel.avatar.url }}" alt="test">
          <p>{{ answer.author.username }}</p>
        </a>    
      </div>    

      <div class="vote">
        {% csrf_token %}
        <button element-up-id="answer-vote-up-{{ answer.id }}" type="button"
        class="vote-btn" 
          data-href="{{ answer.getVoteUrl }}"
          data-is_authenticated="{{ request.user.is_authenticated }}"
          data-answer="{{ answer.id }}"
          data-controller="s-tooltip" 
          title="{% if request.user.is_authenticated %}سوال مفید و واضح است{% else %}باید عضو شی!{% endif %} " 
          aria-pressed="false" 
          aria-label="Up vote" 
          data-selected-classes="fc-theme-primary">
          <svg aria-hidden="true" class="m0 svg-icon iconArrowUpLg" width="20" height="20" viewBox="0 0 36 36">
            <path d="M2 26h32L18 10 2 26z"/></svg></button>
      
          <div id="answer-{{ answer.id }}-counter" class="counter" itemprop="upvoteCount">{{ answer.getVoteNO }}</div>
          {% csrf_token %}
      
        <button element-down-id="answer-vote-down-{{ answer.id }}" type="button"
          class="vote-btn"
          data-href="{{ answer.getVoteUrl }}" 
          data-is_authenticated="{{ request.user.is_authenticated }}"
          data-answer="{{ answer.id }}" 
          data-controller="s-tooltip" 
          data-s-tooltip-placement="right" 
          title="{% if request.user.is_authenticated %}سوال مفید یا واضح نیست{% else %}باید عضو شی!{% endif %} " 
          aria-pressed="false" aria-label="Down vote"><svg aria-hidden="true" class="m0 svg-icon iconArrowDownLg" width="20" height="20" viewBox="0 0 36 36"><path d="M2 10h32L18 26 2 10z"/></svg></button>
    </div>

    {% if request.user == question.author  %}
    <div class="approved">
      <button 
      class="vote-btn"
      answer-id="answer-{{ answer.id }}"
        data-href="{{ answer.getAnswerApproveUrl }}"
        data-answers="{{ question.getApprovedAnswerId }}"
        data-answer-id="{{ answer.id }}" 
        title="Accept this answer if it solved your problem or was the most helpful in finding your solution"
        data-title-unaccept="You accepted this answer 19 hours ago (select to undo)"
        >

        <div id="answer-{{answer.id}}-approve" 
          data-title-accept="Accept this answer if it solved your problem or was the most helpful in finding your solution"
          data-title-unaccept="You accepted this answer 19 hours ago (select to undo)"
        >
          <img  width="20" height="20" src="{{ answer.isApproved }}" alt="حواب برگزیده">
        </div>

      </button>          

     
    </div>
    {% endif %}

    {% if request.user != question.author and answer == approved_answer.answer %}
      <img class="approved"  width="20" height="20" src="{{ MEDIA_URL }}/images/green.png" alt="approved answer"">  
    {% endif %}


    
  </div>


    <div class="details">
		<p>
			{{ answer.content|safe }}
		</p>
		<div class="rect">
			<div class="contain">
				<p> {{ answer.getDate }}&nbsp; &nbsp;{% if answer.edited %}ویرایش شده {% endif %} </p>
				{% if request.user == answer.author %}
        <div class="edel">
          	<a href="{% url 'QA:answer_edit' q_id=question.id  a_id=answer.id %}">ویرایش</a>
			<a style="color: red;" href="{% url 'QA:answer_delete' q_id=question.id  a_id=answer.id %}">حذف</a>
        </div>  
					<!-- <a href="#" class="fa fa-edit"></a>
					<a href="#" class="fa fa-trash"></a> -->
				{% endif %}
			</div>

		</div>

  </div>


</div>


      



    {% empty %}

        <p>هنوز کسی به این سوال جواب نداده.</p>

    {% endfor %}


    {% if user.is_authenticated and not user_answered %}
		<h3>می تونید به این سوال جواب بدید.</h3>
			
			<div class="cq">
			<div id="has_editor">
				<form id="post_form" method="post" action="" enctype="multipart/form-data">

						{% csrf_token %}
						{{ answer_form.media }}
					
				<p><label for="id_content">جواب</label>
				<div>
					{{ answer_form.content }}
				</div>

				<div>
					<input type="submit" name="submit" value="ارسال" />
				</div>
				</form>    

			<div class="preview-box">
				<div id="preview">پیش نمایش</div>
			</div>

			</div>
		</div>


	{% endif %}

    

  






{% endblock content %}
    


