{% extends 'template.html' %}


{% block styles %}
  {% load static %}
  <link href="{% static 'style/questions.css' %}?version=51" rel="stylesheet" >
{% endblock styles %}
  

{% block content %}
    

  {% for question in page_obj %}
    <div class="box">
            
      <div class="profile">
		<a href="{% url 'user:user' username=question.author.username %}">
			<img class="rounded-circle" width="30px" height="30px" src="{{ question.author.avatarmodel.avatar.url }}" alt="{{ question.author.username }}'s avatar'">
			{{ question.author.username }}
		</a>    
      </div>  

      <div class="state">
        <div class="tuple">
          <p>بازدید</p>
          <p>{{ question.review }}</p>
        </div>
        <div class="tuple">
          <p>جواب</p>
          <p>{{ question.answers_NO }}</p>
        </div>
        <div class="tuple">
          <p>رای</p>
          <p>{{ question.vote }}</p>
        </div>
      </div>

      <div class="content">
        <div class="title">
          <h3>
            <a href="{% url 'QA:question' id=question.id %}">{{ question.title }}</a>
		  </h3>
        </div>
        <div class="details">
          <div class="tags">
          
          {% for tag in question.getTags %}
            <div class="style">
				<a href="{{ tag.id }}">{{ tag.tag }}</a>
            </div>
          {% endfor %}
        
          </div>
		<div class="contain">
      		<p><a href="#">{{ question.author.username }}</a>
			{% if question.edited %}ویرایش شده در&nbsp;&nbsp; {% endif %} {{ question.getDate }}</p>
		</div>
        </div>

      </div>

  </div>


    {% endfor %}

      <nav aria-label="...">
        {% if page_obj.has_other_pages %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">قبلی</span></li>
          {% endif %}
          {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
				<li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
				<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
			<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">بعدی</span></li>
          {% endif %}
        </ul>
      {% endif %}
    
      </nav>
    






    

{% endblock content %}
    