
.regin {
  display: block;
  width: 60%;
  margin: 50px auto;
  padding: 8px 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
}


input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #00976a;
    color: white;
    padding: 7px 12px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: inherit;
  }
  
  button:hover {
    opacity: 0.8;
  }
  

  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .login-box {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  

  .doac {
    display: flex;
    flex-direction: column;
	width: max-content;
	font-size: 1rem;
  }

  /* Change styles for span and cancel button on extra small screens */
  @media only screen and (max-width: 600px) {
    .regin {
      width: auto;
    }
    span.psw {
       display: block;
       float: none;
    }

    .doac {
		font-size: 0.8rem;
	}

  }
  