.container {
    width: 60%;
    margin: 0 auto;
}


.wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
}


.wrapper > div {
    background-color: gray;
    padding: 1em;
}

.wrapper > div:nth-last-child(odd) {
    background-color: #ccc;
}


/* .box {
    display: flex;
    min-height: 1rem;
    border: 1px #666 solid;
    border-radius: 10px;
    background-color: #aaa;
    padding: 4px 8px;
    margin: 1rem auto;
    direction: rtl;
    text-align: right;
    overflow: hidden;

} */

.box {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  min-width: 0;
  overflow: visible;
  word-wrap: break-word;
  background-color: inherit;
  background-clip: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 0;
  border-right: 0;
  direction: rtl;
  margin: 10px 0 10px 0;
  padding: 5px 10px;
}




.box .profile {
  display: flexbox;
  flex-direction: row;
  position: relative;
  right: 0;
  margin: auto 0;
}

.box .profile a {
  text-decoration: none;
}

.box .state {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 0;
  margin-right: 10px;
  margin: auto 0;
}

.box .state .tuple {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 10px;
}

.box .state .tuple > p {
  font-size: 0.8rem;
}

.box .content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 0;
  margin: auto 0;
}

.box .content .title {
  display: block;
  position: relative;
  font-size: 0.9rem;
  margin: 0;
}

.box .content .title > p > a { text-decoration: none; }


.box .content .details {
  display: flexbox;
  position: relative;
  padding: 0;
}

.box .content .details .tags {
  display: flex;
  flex-direction: row;
  position: relative;
  float: right;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

.box .content .details .tags .style {
  position: relative;
  border: 0;
  border-radius: 0.25rem;
  background-color: #ddd;
  padding: 0 4px;
  margin: 0 5px;
}

.box .content .details .tags .style > a {
  font-size: 0.7rem;
  text-decoration: none;
}

.box .content .details .contain {
  position: relative;
  float: left;
  left: 0;
  bottom: 0;
  margin-bottom: 0;
}

.box .content .details .contain > p {
  font-size: 0.7rem;
}

.box .content .details .contain > p > a {
  display: none;
  text-decoration: none;
  font-size: 0.7rem;
}

pre > img {
  width: 90%;
  height: 90%;
  max-width: 980px;
  max-height: 740px;
}

@media only screen and (max-width: 1080px){

  .box {
      width: 100%;
      overflow: hidden;
  }

  .box .profile {
    display: none;
  }


  .box .state {
    margin: auto 0;
  }

  .box .state .tuple {
    margin: 0 5px;
  }

  .box .state .tuple > p {
    font-size: 0.6rem;
  }


  .box .content .title {
    font-size: 0.8rem;
    margin: 0;
  }


  .box .content .details .tags .style > a {
    font-size: 0.6rem;
  }

  .box .content .details .contain > p {
    font-size: 0.6rem;
  }

  .box .content .details .contain > p > a {
    display: inline;
  }

}


/* NAVBAR */
