.board {
    display: block;
    position: relative;
    width: 100%;
    margin: auto;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border-radius: 0.5rem;
    padding: 20px 20px;
    direction: rtl;
}


.procard {
    display: inline-block;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
    width: auto;
    max-width: 42%;
    min-width: 250px;
    margin: 20px 5px;
    padding: 4px 10px;
}



.inner {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.avatar {
    display: inline-block;
    width: 60px;
    height: 60px;
    max-width: 65px;
    max-height: 65px;
    margin: auto 5px;
    right: 0;
    border: none;
    border-radius: 50%;
}


.sec {
    display: inline-block;
    width: 80%;
    border: none;
    border-radius: 0.5rem;
    padding: 2px 8px;
    margin: 2px auto;
    font-size: 0.9rem;
}


.repu {
    width: auto;
    margin: 2px auto;
    background-color: #ff5000;
    padding: 4px;
    color: white;
    font-size: 0.7rem;
    border: none;
    border-radius: 0.5rem;
}



.qa {
    width: auto;
    margin: 2px auto;
    background-color:#00e1ff;
    padding: 4px;
    color: black;
    font-size: 0.7rem;
    border: none;
    border-radius: 0.5rem;
}

/* .qas:hover, .qas:focus {
    cursor: pointer;
} */


@media only screen and (max-width: 1390px) {
    .board {
        width: 100%;
    }

    .procard {
        display: inline-block;
        width: auto;
        max-width: 40%;
    }

}




@media only screen and (max-width: 1240px) {

    .board {
        width: 110%;
    }

    .procard {
        display: inline-block;
        width: auto;
        max-width: 42%;
    }

}




@media only screen and (max-width: 740px) {
    .board {
        width: 100%;
        margin-right: 10px;
    }

    .procard {
        display: block;
        width: auto;
        max-width: 80%;
    }
}
