
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.3);
}


.modal-content {
	background-color: #ffe;
	margin: 20% auto;
	padding: 10px;
	width: 50%;
	box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.3);
	animation-name: openModal;
	animation-duration: 1s;
}



@keyframes openModal {
	from { opacity: 0; }
	to { opacity: 1; }
}


.modal-header {
	display: inline-block;
	direction: rtl;
	width: 100%;
	margin: auto;
}


.modal-header > p {
	display: inline;
	font-size: 1rem;
	right: 0;
	margin: 0;
}


hr {
	color: #ff5000;
}


.closeBtn {
	color: #666;
	float: left;
	font-size: 1.5rem;
}

.closeBtn:hover, .closeBtn:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}


.modal-body {
	display: block;
	position: relative;
	margin: 10px 10px auto auto;
	direction: rtl;
}

.qbox {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 20px;
}

.qbox > a {
	text-decoration: none;
	font-size: 1rem;
}

.qbox .datag {
	display: flexbox;
	flex-direction: row;
	float: left;
	left: 0;
	bottom: 0;
	margin-top: 4px; 
}


.qbox .datag .style {
	display: inline-block;
	position: relative;
	border: 0;
	border-radius: 0.25rem;
	background-color: #ccc;
	padding: 2px 4px;
	margin: 0 5px;
	height: min-content;
}
  
.qbox .datag .style > a {
	font-size: 0.8rem;
	text-decoration: none;
}
  
.datag .date {
	position: relative;
	font-size: 0.7rem;
	float: left;
	margin-left: 0;
}


@media only screen and (max-width: 1120px) {
	.modal-content {
		width: 90%;
	}

	.qbox > a {
		font-size: 0.9rem;
	}

	.qbox .datag .style > a {
		font-size: 0.7rem;
		text-decoration: none;
	}

}
