

.qbox {
	display: block;
	width: 90%;
	margin: 30px auto;
	border-bottom: 1px solid black;
	direction: rtl;
	padding: 8px 12px
}

.inner {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.inner .acc {
	display: block;
	position: relative;
	width: 8%;
	margin: auto 10px;
}

.inner .acc > a {
	display: block;
	text-decoration: none;
}


.inner .acc > a:hover , a:focus {
	cursor: pointer;
}

.inner .acc > a > img {
	display: block;
	margin: 10px auto;
	width: 35px;
	height: 35px;
	border: none;
	border-radius: 50%;
}

.inner .acc > a > p {
	display: block;
	text-align: center;
	margin: auto;
	font-size: 0.8rem;
}

.inner .state {
	display: flex;
	flex-direction: row;
	width: 21%;
}

.inner .state .tuple {
	display: block;
	min-width: 24%;
	margin: auto 3px;
}

.inner .state .tuple > small {
	display: block;
	margin: auto;
	font-size: 0.7rem;
}

.inner .state .tuple > p {
	display: block;
	margin: 4px auto;
	font-size: 0.9rem;
}

/* 
.inner .qas {
    display: block;
    margin-top: 70px;
} */

.inner .deti {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-right: 0;

}


.inner .deti .state-after {
	display: none;
	width: 100%;
}

.inner .deti .state-after .tuple {
	display: inline-block;
	margin: 2px 8px;
}

.inner .deti .state-after .tuple > small {
	display: inline;
	margin: auto 2px;
	font-size: 0.7rem;
}


.inner .deti .state-after .tuple > p{
	display: inline;
	margin: 4px auto;
	font-size: 0.8rem;
}



.inner .deti > a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-size: 1rem;
  line-break: loose;
  word-break: break-all;
}

.inner .deti .datag {
	display: flexbox;
	flex-direction: row;
	float: left;
	left: 0;
	bottom: 0;
	margin-top: 8px; 
}


.inner .deti .datag .style {
	display: inline-block;
	position: relative;
	border: 0;
	border-radius: 0.25rem;
	background-color: #ccc;
	padding: 0 4px;
	margin: 2px 3px;
	height: min-content;
}
  
.inner .deti .datag .style > a {
	font-size: 0.7rem;
    text-decoration: none;
}
  
.inner .deti .datag .date {
	position: relative;
	font-size: 0.7rem;
	float: left;
	margin-left: 0;
	margin-top: 2px;
}

.inner .deti .datag .date > a{
	display: none;
	font-size: 0.8rem;
	text-decoration: none;
	margin-left: 4px;
}




@media only screen and (max-width: 780px) {
	.qbox {
		width: 90%;
		font-size: 0.7rem;
	}

	.inner .acc {
		display: none;
	}

	.inner .state {
		display: none;
	}

	.inner .deti {
		width: 100%;
	}

	.inner .deti .state-after {
		display: block;
	}

	.inner .deti .datag .date > a {
		display: block;
	}
}



