hr {
	background-color: #ff5000;
  }
  

.anchor {
    text-align: center;
    text-decoration: none;
}

.vote-btn {
	display: block;
    background-color: inherit;
	border: 0;
	margin: 0 auto;
}

.counter { 
	text-align: center;
	padding: 0;
	margin: 0;
}

.question {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  word-wrap: break-word;
  background-color: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-top: 0;
  border-right: 0;
  border-left: 0;
  direction: rtl;
  margin: 10px 0 10px 5px;
  padding: 5px 10px;
}


.question .info {
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;  
    height: 100%;
    margin: auto 0;
    padding: 5px;
    right: 0;
}

.question .info .avatar {
	display: block;
    align-items: center;
    align-content: center;
	margin: 0 auto 10px auto;
}



.question .info  > a > img {
	display: block;
	margin: 4px auto;
	border: none;
	border-radius: 50%; 
	width: 60px;
	height: 60px;
}  

.question .info > a > p {
	display: block;
	margin: 0 auto;
}


/* .vbox {
  display: block;
  height: min-content;
} */

.question .info .vote {
    float: center;
    align-content: center;
	margin: 0 auto;
	padding:0;
}


.question .info .approved {
  margin: 0 auto;
}


.question .info .btns {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  bottom: 0;
}

.question .info .btns .anchor {
  text-align: center;
  padding: 4px;
}


.question .details {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
	height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0 10px;
    margin: auto;
    top: 0;
	line-break: loose;

}

.question .details > h4 {
  font-size: 1.2rem;
}

.question .details > p {
  	float: right;
    font-size: 1rem;
    text-align: right;
	word-wrap: break-word;
	line-break: loose;
	box-sizing: border-box;
	margin-bottom: 20px;
}


.question .details > p > img {
	width: inherit !important;
	height: inherit;
	max-width: 720px !important;
	max-height: 840px !important;
	object-fit: contain;
}

.question .details > p {
  width: 90% !important;
}

.question .details .rect {
    display: flexbox;
    flex-direction: row;
    padding: 0;
    bottom: 0;
}

.question .details .rect .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    float: right;
    right: 0;
    padding: 0;
    margin: 0;
  }
  
  .question .details .rect .tags .style {
    position: relative;
    border: 0;
    border-radius: 0.25rem;
    word-wrap: break-word;
    background-color: #ddd;
    padding: 0 5px;
    margin: 3px 5px 3px 5px;
  }
  
  .question .details .rect .tags .style > a {
    font-size: 0.7rem;
    text-decoration: none;
  }
  
  .question .details .rect .contain {
    position: relative;
    float: left;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
  }

  .question .details .rect .contain .edel {
    display: block;
    position: static;
    margin: auto 8px 0 0;
    text-align: center;
  }

  .question .details .rect .contain .edel > a {
    display: inline-flex;
    margin: 2px 8px;
    text-decoration-style: none;
    font-size: 0.9rem;
  }



  .question .details .rect .contain > p {
    font-size: 0.7rem;
  }
  
  .question .details .rect .contain > p > a {
    display: none;
    text-decoration: none;
    font-size: 0.7rem;
  }
  

@media only screen and (max-width: 1080px){
  .question {
    font-size: 0.9rem;
  }

  .question .details .rect .contain .edel > a {
    margin: 2px 5px;
    font-size: 0.8rem;
  }

}



.incbox {
	display: none;
	width: 100%;
	margin: auto;
  direction: rtl;
  animation-name: openModal;
	animation-duration: 1s;
}

.incbox .inin {
  display: block;
}

@keyframes openModal {
	from { opacity: 0; }
	to { opacity: 1; }
}

.incbox small {
	width: fit-content;
	color: rgba(0, 0, 0, 0.6);
}

small:hover, small:focus {
  	color: black;
	cursor: pointer;
}

.inin > form > button {
	display: inline-block;
	border: none;
	color: rgba(0, 0, 0, 0.5);
	padding: 2px;
	background-color: inherit;
}

.tacomment {
  display: block;
  font-family: inherit;
	width: 100%;
  min-height: 40px;
  padding: 2px 4px;
	line-break: loose;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 0.5rem;
  resize: none;
  font-size: 0.9rem;
}



.inin > form > button:hover , .button:focus {
	color: black;
	cursor: pointer;
}






.cbox {
	display: block;
	width: 100%;
	margin: auto;
	direction: rtl;
}

.cbox .inner {
	display: none;
	animation-name: openModal;
	animation-duration: 1s;
}

@keyframes openModal {
	from { opacity: 0; }
	to { opacity: 1; }
}

.cbox small {
	width: fit-content;
	color: rgba(0, 0, 0, 0.6);
}

small:hover, small:focus {
  	color: black;
	cursor: pointer;
}

.inner > form > button {
	display: inline-block;
	border: none;
	color: rgba(0, 0, 0, 0.5);
	padding: 2px;
	background-color: inherit;
}

.tacomment {
  display: block;
  font-family: inherit;
	width: 100%;
  height: auto;
  padding: 2px 4px;
	line-break: loose;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 0.5rem;
  resize: none;
  font-size: 0.9rem;
}

/* .ccbox {
	display: inline-block;
	border: none;
	color: rgba(0, 0, 0, 0.5);
	background-color: inherit;
} */

.inner > form > button:hover , .button:focus {
	color: black;
	cursor: pointer;
}


.comments {
	display: block;
	width: 100%;
}

.comments .each {
	display: block;
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
	direction: rtl;
}

.comments .each > a {
	display: inline;
	font-size: 1rem;
	text-decoration: none;
	margin-left: 4px;
}

.comments .each > p {
	display: inline;
	font-size: 1rem;
}

.comments .each > small {
	display: inline;
	font-size: 0.6rem;
	line-break: loose;
}