{% extends 'template.html' %}


{% block styles %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'style/login.css' %}?version=71">  
{% endblock styles %}
  

{% block content %}


<div class="regin">
  <form method="POST" id="add_form" action="">


    {% csrf_token %}
      <input type="text" placeholder="نام کاربری" name="username" required>
  
      <input type="password" placeholder="گذرواژه" name="password" required>
      <input type="hidden" name="next" value="{{ request.path }}">
      <button type="submit">ورود</button>
  
    <div class="login-box">
      <!-- <button type="button" class="cancelbtn">لغو</button> -->
      <div class="doac">
        <a href="{% url 'user:getEmailForActivate' %}">فعال کردن ایمیل.</a>
        <a href="{% url 'user:getEmailForResetPassword' %}">پسورد خود را فراموش کرده ام.</a>
      </div>
    </div>
  </form>
  
  
</div>
  

{% endblock content %}
    

