{% extends 'template.html' %}


{% block styles %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'style/login.css' %}?version=51">  
{% endblock styles %}
  

{% block content %}
<!-- <h2>Login Form</h2>
<form method="POST" id="add_form" action="">
  {% csrf_token %}
  <div class="form-group">
    <label >User Name</label>
    <div class="input"><input type="text" name="username" required="required"></div>
    <div class="clear"></div>
</div>
<div class="form-group">
    <label >Password</label>
    <div class="input"><input type="password" name="password" required="required"></div>
    <div class="clear"></div>
</div>
<div class="form-group"> 
  <label></label>
    <div class="submit">
      <input type="hidden" name="next" value="{{ request.path }}">
      <button type="submit" class="btn-primary">Login</button>
    </div>
    <div class="clear"></div> </div>
</form> -->



<form method="POST" id="add_form" action="">


  {% csrf_token %}
  <div class="login-box">
    <label for="uname"><b>نام کاربری</b></label>
    <input type="text" placeholder="نام کاربری" name="username" required>

    <label for="psw"><b>گذرواژه</b></label>
    <input type="password" placeholder="گذرواژه" name="password" required>
    <input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit">ورود</button>
  </div>

  <div class="login-box">
    <!-- <button type="button" class="cancelbtn">لغو</button> -->
    <div class="doac">
      <div class="psw"><a href="{% url 'user:getEmailForActivate' %}">فعال کردن ایمیل.</a></div>
      <div class="psw"><a href="{% url 'user:getEmailForResetPassword' %}">پسورد خود را فراموش کرده ام.</a></div>  
    </div>
  </div>
</form>

  

</div>
{% endblock content %}
    

