{% extends 'template.html' %}




{% block content %}



<div class="board">

{% for user in page_obj %}


    <div class="procard">
        <div class="inner">
            <img class="avatar" src="{{ user.avatarmodel.avatar.url }}" alt="{{ user.username }}'s avatar'">
            <div class="sec">

                <p>
                    <a href="{% url 'user:user' username=user.username %}">
                        {{ user.username }}
                    </a>
                </p> 
                
                    <span class="qa" >سوال&nbsp;&nbsp;{{ user.questions_no }}</span>
                    <span class="qa" >جواب&nbsp;&nbsp;{{ user.answers_no }}</span>
                    <span class="repu">امتیاز&nbsp;&nbsp;{{ user.reputation }}</span>
            </div>    
        </div>
    </div>


{% endfor %}
    

    </div>


    <nav aria-label="...">
        {% if page_obj.has_other_pages %}
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">قبلی</span></li>
          {% endif %}
          {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
				<li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
				<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
			<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">بعدی</span></li>
          {% endif %}
        </ul>
      {% endif %}
    
      </nav>
    



{% endblock content %}
    

